<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Prosys-OPC-UA-Java-SDK-Client-Server-Evaluation-2.2.0-552/Prosys-OPC-UA-Java-SDK-Client-Server-Evaluation-2.2.0-552/samples/com/prosysopc/ua/samples/client/SampleConsoleClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.prosysopc.ua.samples.client.SampleConsoleClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Prosys-OPC-UA-Java-SDK-Client-Server-Evaluation-2.2.0-552"/>
</launchConfiguration>
